*:focus {
	outline: none;
}

body {
	margin: 0px;
	background: #ececec;
	font-family: Arial, Helvetica, sans-serif;
}

#root,
.main-container {
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	background: #fff;
}

h1 {
	margin: 20px auto;
	font-weight: 900;
	font-size: 20px;
	color: #14385f;
	text-transform: uppercase;
}

.search-bar-container {
	display: flex;
	background: #14385f;
	padding: 0 20px;
}

form {
	display: flex;
    width: 100%;
    max-width: 450px;
    margin: 20px auto
}

form>.search-bar {
	border: none;
	width: 100%;
	height: 35px;
	margin: 0 10px 0 0;
    padding: 0 0 0 10px;
}

form>button {
	cursor: pointer;
	border: none;
	height: 35px;
	padding: 0 20px;
	background: #7ab93b;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 20px;
}

form>button:active {
	box-shadow: inset -2px 2px 5px -2px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 350px) {
	h1 {
		font-size: 30px;
	}
}